[submodule "panoptic-reconstruction"]
	path = panoptic-reconstruction
	url = git@github.com:jdgalviss/panoptic-reconstruction.git
[submodule "BlenderProc"]
	path = BlenderProc
	url = https://github.com/ZuzkaU/BlenderProc.git
